<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561710238173-bhft081sl4q2ceq2tqqst5c82qie9tvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561710238173-bhft081sl4q2ceq2tqqst5c82qie9tvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>561710238173-802v8fclicts49u63a4u09v05t7l9ivj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0MTAqFtqMAW1WvPSe5hgz0Um7SScQtqA</string>
	<key>GCM_SENDER_ID</key>
	<string>561710238173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blooddonation</string>
	<key>PROJECT_ID</key>
	<string>blooddobation</string>
	<key>STORAGE_BUCKET</key>
	<string>blooddobation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561710238173:ios:cd378b2d4817e7988d8e34</string>
</dict>
</plist>